<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                        http://www.springframework.org/schema/websocket
                        http://www.springframework.org/schema/websocket/spring-websocket.xsd">

    <!-- websocket -->
    <bean name="wsHandler" class="com.wang.springmvc.handler.SocketHandler"/>
    <websocket:handlers>
        <!-- 这里可以配置多个Handler，映射地址不能一样 -->
        <websocket:mapping path="/ws/point" handler="wsHandler"/>
        <websocket:handshake-interceptors>
            <bean class="com.wang.springmvc.interceptor.HandshakeInterceptor"/>
        </websocket:handshake-interceptors>
    </websocket:handlers>

    <!-- websocket子协议STOMP -->
    <websocket:message-broker>
        <websocket:transport message-size="131072" send-timeout="1000" send-buffer-size="8192"/>
        <websocket:stomp-endpoint path="/ws/stomp" allowed-origins="*">
            <websocket:sockjs/>
        </websocket:stomp-endpoint>
        <websocket:simple-broker prefix="/topic"/>
    </websocket:message-broker>

</beans>